{% extends 'base.html' %}


{% block title %}Биатлон{% endblock %}

{% block body %}
<p class="zag"> Биатлон </p>
<p class="text">
Биатлон - уникальный зимний вид спорта, сочетающий лыжные гонки со стрельбой из винтовки. Спортсмены преодолевают
дистанцию свободным стилем, останавливаясь на огневых рубежах для поражения мишеней. Промахи наказываются либо 
штрафными кругами, либо добавлением времени. Основные дисциплины включают спринт (10 км мужчины/7,5 км женщины),
индивидуальную гонку (20/15 км), масс-старт (15/12,5 км) и эстафеты. Особенность биатлона - интенсивная смена 
физической нагрузки и требование мгновенной концентрации при стрельбе. Современный биатлон развился из военных
упражнений скандинавских стран. Экипировка включает специальные лыжи (длиной не менее роста спортсмена минус 4 см)
и малокалиберные винтовки весом 3,5 кг. Соревнования проходят при любой погоде, что добавляет сложности - ветер
влияет на стрельбу, а температура и состояние снега - на лыжный ход. Россия, Германия, Норвегия и Франция
традиционно сильны в этом виде спорта. Биатлон - один из самых популярных зимних видов благодаря динамичности и
непредсказуемости результатов.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/biat1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/biat3.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/biat2.jpg') }} alt="hok3">

{% endblock %}