{% extends 'base.html' %}


{% block title %}Бобслей{% endblock %}

{% block body %}
<p class="zag"> Бобслей </p>
<p class="text">
Бобслей - скоростной спуск по специальной ледовой трассе на управляемых санях.
Команды из двух или четырех спортсменов разгоняют боб, затем быстро запрыгивают внутрь и проходят трассу за
минимальное время. Современные бобы изготавливаются из высокотехнологичных материалов и достигают скорости
130-140 км/ч. Трассы длиной 1200-1600 метров имеют 15-20 виражей с перегрузками до 5g. В программе Олимпиады три
дисциплины: двойки (мужчины и женщины), четверки (только мужчины) и монобоб (одиночные заезды женщин). Каждая 
команда выполняет по 4 спуска, победитель определяется по сумме времени. Особое значение имеет стартовый разгон -
первые 50 метров спортсмены бегут, толкая боб, развивая скорость до 40 км/ч. Пилот управляет санями с помощью
рулевой системы и специальных тяг. Бобслей требует идеальной координации, силы и реакции. Наиболее успешны в этом
виде спорта Германия, Швейцария и США. Опасность и зрелищность сделали бобслей одной из самых популярных дисциплин
зимних Игр, несмотря на высокую стоимость оборудования и ограниченное количество трасс в мире.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/bob1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/bob2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/bob3.jpg') }} alt="hok3">

{% endblock %}