{% extends 'base.html' %}

{% block title %}
Следующие Олимпийские игры
{% endblock %}

{% block body %}
<p class="zag"> Зимние олимпийские игры в Италии (2026 год) </p>
<p class="text">

Зимние Олимпийские игры 2026 года пройдут в Италии с 6 по 22 февраля, став уникальным событием, 
объединяющим современный мегаполис Милан и живописный горный курорт Кортина-д'Ампеццо. Эти Игры войдут в 
историю как первые, полностью соответствующие принципам устойчивого развития - 95% спортивных объектов либо уже 
существуют, либо будут временными, что минимизирует экологический след. Организаторы делают особый акцент на инновациях: 
в программу дебютирует ски-альпинизм (новый олимпийский вид, сочетающий горнолыжный спуск и подъем на лыжах), а традиционные дисциплины дополнятся новыми командными форматами. Транспортная 
система соединит два кластера, расположенных в 400 км друг от друга, обеспечив комфортное перемещение между ледовыми 
аренами Милана и горными трассами Доломитовых Альп.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/bud1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/bud2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/bud3.jpg') }} alt="hok3">

<p class="text">
Особое внимание уделяется наследию Игр: после соревнований все объекты будут преобразованы в центры подготовки 
спортсменов и общедоступные спортивные сооружения. Итальянские власти рассчитывают, что Олимпиада даст импульс развитию 
зимнего туризма в регионе и создаст около 20 тысяч рабочих мест. В спортивном плане главными интригами станут 
выступления норвежских лыжников во главе с Йоханнесом Хёсфлотом Клебо, американских сноубордистов с их звездой Хлоей 
Ким, а также домашней сборной Италии, делающей ставку на молодое поколение атлетов.

Организаторы обеют сделать эти Игры самыми технологичными в истории: от системы "умных" билетов до инновационных 
решений в телетрансляциях. При этом сохранится неповторимая итальянская атмосфера, сочетающая страсть к спорту с 
богатыми культурными традициями. Билетная программа, стартующая в 2025 году, будет ориентирована на максимальную 
доступность, чтобы как можно больше зрителей смогли стать свидетелями этого грандиозного зимнего праздника. Ожидается, 
что в соревнованиях примут участие около 2900 спортсменов из более чем 90 стран мира.


</p>

{% endblock %}