{% extends 'base.html' %}

{% block title %}
Достижение России на ОИ
{% endblock %}

{% block body %}

<p class="zag"> 2022 год (Пекин, Китай) </p>
<p class="text">
Под обозначением ROC (Russian Olympic Committee) российские спортсмены соревновались без флага и гимна, 
но добились третьего места в медальном зачёте с 9 золотыми и 32 медалями в общей сложности. Лыжник Александр Большунов 
стал главным триумфатором, завоевав 3 золота (в гонке на 30 км, скиатлоне и эстафете) и 5 медалей в целом. В фигурном 
катании команда ROC выиграла золото в командных соревнованиях, а Анна Щербакова стала первой в женском одиночном 
катании. Однако выступление Камилы Валиевой было омрачено допинговым скандалом, из-за которого команда лишилась золота 
в командном турнире. В биатлоне и конькобежном спорте также были добыты важные медали, подтвердив высокий уровень 
российской школы зимних видов спорта.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/dost1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/dost2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/dost3.jpg') }} alt="hok3">

<p class="zag"> 2018 год (Пхёнчхан, Южная Корея) </p>
<p class="text">
На этих Играх российские спортсмены выступали под нейтральным флагом из-за санкций МОК, но несмотря на это,
показали выдающиеся результаты. Команда OAR (Olympic Athletes from Russia) заняла 2-е место в медальном зачёте,
завоевав 17 наград, включая 2 золота. Главными героями стали фигуристы: Алина Загитова взяла золото в женском 
одиночном катании, а Евгения Медведева – серебро. В хоккее мужская сборная, состоявшая из российских игроков, впервые 
в истории выиграла олимпийское золото под нейтральным флагом. Также успешно выступили конькобежцы и лыжники, добавив в 
копилку команды несколько серебряных и бронзовых медалей.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/dost4.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/dost5.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/dost6.jpg') }} alt="hok3">

<p class="zag"> 2014 год (Сочи, Россия) </p>
<p class="text">
Домашняя Олимпиада стала золотым триумфом России – команда заняла 1-е место с 13 золотыми и 33 медалями. 
Фигуристы доминировали: Аделина Сотникова принесла первое в истории России золото в женском одиночном катании, 
а Татьяна Волосожар и Максим Траньков победили в парном. В биатлоне Антон Шипулин и Ольга Вилухина взяли медали, а в 
скелетоне Александр Третьяков стал первым российским олимпийским чемпионом в этом виде. Особенно ярко выступил Виктор 
Ан (шорт-трек), завоевав 3 золота после перехода из Южной Кореи.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/dost8.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/dost7.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/dost9.jpg') }} alt="hok3">

<p class="zag"> 2010 год (Ванкувер, Канада) </p>
<p class="text"> Самой неудачной за этот период стала Олимпиада-2010 в Ванкувере, где Россия с 3 золотыми медалями опустилась на 11-е 
место. Единственными чемпионами стали лыжник Никита Крюков (спринт) и женская биатлонная эстафета со Светланой Слепцовой 
в составе. Фигурист Евгений Плющенко, считавшийся фаворитом, неожиданно уступил американцу Лайсачеку, а танцоры Оксана 
Домнина/Максим Шабалин довольствовались бронзой. Эти результаты показали необходимость серьёзных реформ в российском 
зимнем спорте.</p>

<p class="zag"> 2006 год (Турин, Италия) </p>
<p class="text"> В 2006 году в Турине российская команда с 8 медалями (3 золота) заняла четвёртое место. Евгений Плющенко с 
феноменальными оценками выиграл мужское одиночное катание, а пара Татьяна Тотьмянина/Максим Маринин не оставила шансов 
конкурентам. Биатлонистка Светлана Ишмуратова принесла золото в эстафете, а лыжница Юлия Чепалова добавила к своей 
коллекции победу в масс-старте на 30 км.</p>

<p class="zag"> 2002 год - Солт-Лейк-Сити, США </p>
<p class="text"> На Олимпиаде 2002 года в Солт-Лейк-Сити Россия заняла пятое место с 5 золотыми медалями. Фигуристы вновь стали 
главными триумфаторами: Алексей Ягудин выиграл мужской турнир, а дуэт Елены Бережной и Антона Сихарулидзе после громкого 
судейского скандала разделил золото с канадцами. Лыжница Юлия Чепалова взяла две высшие награды (в спринте и на 30 км), 
а биатлонисты в мужской эстафете с Олегом Пылёвым в составе вернули России золото после восьмилетнего перерыва.</p>


<p class="zag"> 1998 год (Нагано, Япония) </p>
<p class="text"> В 1998 году в Нагано российская сборная повторила успех, заняв третье место с 9 золотыми наградами. Фигурист 
Илья Кулик с блеском выиграл мужской турнир, а пара Оксана Казакова/Артур Дмитриев стали лучшими в парном катании. 
Лыжница Лариса Лазутина повторила достижение Егоровой, завоевав три золота (5 км, 10 км и эстафета). Историческим стало 
первое золото в женском биатлоне - Галина Куклева победила в спринте на 7,5 км. Хоккеисты, ведомые Павлом Буре и Сергеем 
Фёдоровым, дошли до финала, где в драматичном матче уступили чехам 0:1.</p>

<p class="zag"> 1994 год (Лиллехаммер, Норвегия) - первое выступление России </p>
<p class="text">
После распада СССР российская сборная впервые выступила самостоятельной командой на зимней Олимпиаде 1994 года
в Лиллехаммере, где завоевала 11 золотых медалей и заняла третье место в общем зачёте. Главными героями стали
фигуристы - Алексей Урманов победил в мужском одиночном катании, а дуэт Екатерины Гордеевой и Сергея Гринькова взял 
золото в парном. В лыжных гонках блистала Любовь Егорова, выигравшая три золотые медали (на дистанциях 5 км, 10 км и 
в эстафете), а Елена Вяльбе внесла решающий вклад в победу эстафетной команды.</p>

<p class="zag"> 1992 год (Альбервиле, Франция)</p>
<p class="text">На зимних Олимпийских играх 1992 года в Альбервиле спортсмены бывшего СССР выступили как Объединённая 
команда под олимпийским флагом, завоевав в общей сложности 23 медали (9 золотых, 6 серебряных и 8 бронзовых) и заняв 
второе место в медальном зачёте. Главными достижениями стали золото в хоккее (последняя победа легендарной советской 
школы), триумф фигуристов Марины Климовой и Сергея Пономаренко в танцах на льду, а также впечатляющие выступления 
лыжниц Любови Егоровой и Елены Вяльбе, принесшие команде несколько золотых наград. В биатлоне Анфиса Резцова выиграла 
индивидуальную гонку, а мужская команда взяла золото в эстафете. Эти Игры стали историческим рубежом - последними для 
единой советской команды и переходным этапом к самостоятельным выступлениям новых независимых государств, включая 
Россию, которая уже через два года (чтобы разделить летний и зимний олимпийский циклы) дебютировала на Олимпиаде в Лиллехаммере как отдельная страна.</p>

<p class="zag"> Главные достижения СССР на зимних Олимпийских играх (1956–1988) </p>
<p class="text">Советский Союз дебютировал на зимних Олимпийских играх в 1956 году в Кортина-д'Ампеццо и сразу занял первое место 
в медальном зачёте, завоевав 7 золотых, 3 серебряных и 6 бронзовых медалей. Особенно успешно выступили конькобежцы, 
взяв 3 золота, и лыжники, добавившие ещё 2 высшие награды. В хоккее первое золото, команда Боброва не проиграла ни одного матча.
<p class="text">В 1960 году в Скво-Велли советская сборная повторила успех, 
снова возглавив медальный зачёт с 7 золотыми медалями, причём конькобежка Лидия Скобликова выиграла 2 из них, а хоккеисты выиграли второе олимпийское золото подряд.</p>
<p class="text">В 1964 году в Инсбруке СССР вновь стал лучшим, в хоккее разгром всех соперников (разница шайб 73-11), а Скобликова установила уникальное достижение, выиграв все 4 женские 
конькобежные дистанции.</p>
<p class="text">В 1968 году в Гренобле советские спортсмены продолжили доминировать, особенно отличились 
хоккеисты (третья победа подряд, начало эры Третьяка), фигуристы и биатлонисты.</p>
<p class="text">Олимпиада 1972 года в Саппоро принесла СССР 8 золотых медалей, при этом фигуристка 
Ирина Роднина начала свою легендарную серию побед в парном катании.</p>
<p class="text"> В 1976 году в Инсбруке советская сборная с 13 
золотыми медалями уверенно заняла первое место, пятое олимпийское золото в хоккее, а Роднина со своим партнёром Александром Зайцевым вновь были лучшими.</p>
<p class="text">На Играх 1980 года в Лейк-Плэсиде СССР в седьмой раз возглавил медальный зачёт, а хоккейная 
сборная впервые с 1960 года не смогла выиграть Олимпийские игры получив единственное поражение от США.</p>
<p class="text">
В 1984 году в Сараево советские спортсмены завоевали 6 золотых медалей, причём фигуристы взяли 3 из 4 
возможных золота, хоккеисты вернули золото после неудачи 1980 года.
</p>
<p class="text">Последнее выступление СССР на зимних Олимпиадах в 1988 году в Калгари снова завершилось триумфом - 
11 золотых медалей и первое место в общем зачёте.</p>
<p class="text">Итог: за всю историю участия с 1956 по 1988 год советские спортсмены 
завоевали 78 золотых, 57 серебряных и 59 бронзовых медалей на зимних Олимпийских играх, неизменно демонстрируя лидерство 
в таких видах спорта, как хоккей, фигурное катание, конькобежный спорт и лыжные гонки.</p>
{% endblock %}