{% extends 'base.html' %}


{% block title %}Фигурное катание{% endblock %}

{% block body %}
<p class="zag"> Фигурное катание </p>
<p class="text">
Фигурное катание сочетает артистизм и технику — спортсмены выполняют прыжки, вращения и сложные шаги под музыку. В Олимпиаду входят 5 дисциплин:

одиночное (мужчины и женщины),

парное (акробатические поддержки и синхронные элементы),

танцы на льду (хореография без прыжков),

командные соревнования.

Судьи оценивают технику (базовая оценка за элементы) и артистизм (компоненты программы). Самые сложные прыжки — аксель, лутц и тулуп (до 4 оборотов).

Фигурное катание появилось в Олимпиаде еще в 1908 году (летние Игры!). Сегодня лидеры — Россия, США и Япония в одиночном, Китай и Канада в парном катании.

Особенность спорта — строгие требования к костюмам и музыке, а также драматизм судейских решений, которые часто вызывают споры.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/fig1.jpg') }} alt="fig1">
<img class="vid_img" src={{ url_for('static', filename='img/fig2.jpg') }} alt="fig2">
<img class="vid_img" src={{ url_for('static', filename='img/fig3.jpg') }} alt="fig3">

{% endblock %}