{% extends 'base.html' %}


{% block title %}Фристайл{% endblock %}

{% block body %}
<p class="zag"> Фристайл </p>
<p class="text">
Фристайл — экстремальный лыжный спорт, включающий акробатические прыжки, могул и лыжный кросс. Олимпийские дисциплины:

могул (спуск по бугристой трассе с прыжками),

акробатика (прыжки с трамплина с элементами),

ски-кросс (гонка с препятствиями),

слоупстайл и хафпайп (трюки на склоне и в трубе).

Спортсмены выполняют сальто, вращения и сложные комбинации, которые оцениваются за сложность и чистоту исполнения. Лидеры — Канада, США и Швейцария.

Фристайл — один из самых молодых и зрелищных видов, развивающийся благодаря новым трюкам и технологиям.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/fris1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/fris2.jpeg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/fris3.jpg') }} alt="hok3">

{% endblock %}