{% extends 'base.html' %}


{% block title %}Хоккей{% endblock %}

{% block body %}
<p class="zag"> Хоккей с шайбой </p>
<p class="text">
 Хоккей с шайбой — самый популярный командный вид зимних Олимпиад. Две команды по 6 игроков (вратарь, защитники и нападающие) сражаются на ледовой площадке, стараясь забросить резиновую шайбу в ворота соперника клюшками.

Матч длится 3 периода по 20 минут (чистого времени), а в случае ничьей назначается овертайм или серия буллитов. Олимпийские турниры проводятся среди мужчин (с 1920 года) и женщин (с 1998 года).

Хоккей требует высокой скорости, точных передач и жесткого силового противостояния. Игроки развивают до 40 км/ч, а шайба летит свыше 180 км/ч. Экипировка включает коньки, щитки, шлемы и перчатки, защищающие от травм.

Долгое время доминировали Канада, СССР/Россия и США, но сейчас сильны также Швеция и Финляндия. Женский хоккей традиционно возглавляют Канада и США.

Хоккей — один из самых зрелищных и эмоциональных видов спорта, собирающий миллионы зрителей. Хоккей остаётся самым популярным зимним видом спорта в Северной Америке и Северной Европе, а олимпийский турнир традиционно становится главным событием Игр.   
</p>

<img class="glav_img" src={{ url_for('static', filename='img/hok2.jpg') }} alt="hok2">
<img class="nis_img" src={{ url_for('static', filename='img/hok1.jpg') }} alt="hok1">
<img class="glav_img" src={{ url_for('static', filename='img/hok3.jpg') }} alt="hok3">

{% endblock %}