{% extends 'base.html' %}

{% block title %}
О играх
{% endblock %}
 
{% block body %}

<p class="zag">Что такое зимняя Олимпиада?</p>

<p class="text">
    Зимние Олимпиийские игры (др. названия: «Белая олимпиада», «зимняя Олимпиада») — крупнейшее международное 
    комплексное спортивное мероприятие, посвящённое зимним видам спорта, которое проводится раз в четыре года под 
    управлением Международного олимпийского комитета (МОК). Эти соревнования являются зимним аналогом Летних Олимпийских
    игр и включают в себя дисциплины, связанные со снегом, льдом и холодным климатом. История Зимних Олимпиад началась 
    в 1924 году, когда во французском городе Шамони прошла «Международная спортивная неделя по случаю VIII Олимпиады», 
    позже признанная МОК первыми официальными Зимними играми. С тех пор, за исключением перерывов во время Второй мировой
    войны и в 2020 году из-за пандемии COVID-19, Игры проводятся регулярно, каждый раз в новой стране.
    Отбор спортсменов на Игры осуществляется через квалификационные турниры, а страны-участницы должны 
    соответствовать строгим критериям МОК. В отличие от Летних игр, где число видов спорта и участников значительно 
    больше, зимние соревнования проводятся в более компактных масштабах, что связано с необходимостью специальной 
    инфраструктуры — ледовых арен, горнолыжных трасс и трамплинов.
</p>

<img class="glav_img" src={{ url_for('static', filename='img/glav1.jpg') }} alt="glav1">
<img class="glav_img" src={{ url_for('static', filename='img/glav2.jpg') }} alt="glav2">
<img class="glav_img" src={{ url_for('static', filename='img/glav3.jpg') }} alt="glav3">

<p class="text">
Зимние Олимпийские игры имеют огромное значение для мирового спорта, экономики и политики. Они способствуют 
развитию зимних видов спорта в разных странах, привлекают инвестиции в туристические регионы, а также служат 
площадкой для культурного обмена. Однако проведение Игр сопряжено с высокими затратами на строительство объектов и 
логистику, что нередко вызывает дискуссии о целесообразности выбора тех или иных городов в качестве столиц Олимпиад.

Символика Зимних игр включает в себя олимпийские кольца, талисманы, эмблему и гимн, а церемонии открытия и 
закрытия представляют собой масштабные шоу с элементами культуры страны-организатора. Одной из ключевых традиций 
является зажжение олимпийского огня, который, как и на Летних играх, доставляется из греческой Олимпии.

За свою историю Зимние Олимпийские игры неоднократно становились ареной для ярких спортивных достижений, 
драматичных моментов и даже политических протестов. Среди легендарных событий — «Чудо на льду» (1980), когда 
сборная США по хоккею победила фаворитов из СССР; триумф норвежского лыжника Йохана Хёсфлота Клебо; доминирование 
российских фигуристов в командных соревнованиях; и рекордное количество медалей, завоёванных спортсменами из Германии, 
Норвегии и США.

Современные Зимние Олимпийские игры продолжают развиваться, адаптируясь к новым технологиям и запросам зрителей. В 
будущем ожидается включение ещё большего количества экстремальных и зрелищных дисциплин, а также усиление мер по 
экологической устойчивости при подготовке к соревнованиям.
</p>
{% endblock %}