{% extends 'base.html' %}


{% block title %}Кёрлинг{% endblock %}

{% block body %}
<p class="zag"> Кёрлинг </p>
<p class="text">
Кёрлинг — командная игра на льду, где участники поочередно пускают гранитные камни (весом около 20 кг) в специальную мишень («дом»), а их партнеры натирают лед щетками, корректируя движение камня. В олимпийскую программу входят мужские, женские и смешанные парные турниры.

Игра состоит из 10 эндов (периодов), в каждом команда выпускает по 8 камней. Побеждает та команда, чей камень окажется ближе к центру «дома» после всех бросков. Тактика в кёрлинге не менее важна, чем точность — команды могут выбивать камни соперников, блокировать зоны или играть на отскоках.

Кёрлинг зародился в Шотландии еще в XVI веке, а в Олимпиаду вошел в 1998 году. Несмотря на кажущуюся медлительность, это очень стратегический и техничный вид спорта. Лучшие команды мира — из Канады, Швеции и Швейцарии.

Особенность кёрлинга — его доступность: играть могут люди любого возраста, а экипировка (специальная обувь и щетки) относительно недорогая.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/ker1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/ker2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/ker3.jpg') }} alt="hok3">

{% endblock %}