{% extends 'base.html' %}


{% block title %}Конькобежный спорт{% endblock %}

{% block body %}
<p class="zag"> Конькобежный спорт </p>
<p class="text">
Конькобежный спорт, или скоростной бег на коньках, — один из старейших зимних видов, где спортсмены соревнуются в скорости на ледовой дорожке длиной 400 метров. В программе Олимпиады представлены индивидуальные гонки на разные дистанции (от 500 до 10 000 м у мужчин и от 500 до 5 000 м у женщин), а также командная гонка преследования и масс-старт.

Особенность этого вида — раздельные забеги (кроме масс-старта): спортсмены стартуют парами, но бегут по своим дорожкам, меняясь каждым кругом. Побеждает тот, кто показывает лучшее время. Конькобежцы используют специальные лезвия-клапы, которые при отталкивании остаются прикрепленными к ботинку только в передней части, что увеличивает длину толчка.

Лидерами в этом виде спорта традиционно являются Нидерланды, где конькобежный спорт считается национальным достоянием, а также Норвегия, США и Россия. Мировые рекорды постоянно обновляются благодаря совершенствованию техники бега и экипировки.

Конькобежный спорт требует идеальной координации, выносливости и умения распределять силы на длинных дистанциях. Это один из самых техничных и зрелищных видов зимней Олимпиады.

</p>

<img class="vid_img" src={{ url_for('static', filename='img/kon3.jpg') }} alt="fig1">
<img class="vid_img" src={{ url_for('static', filename='img/kon1.jpg') }} alt="fig2">
<img class="vid_img" src={{ url_for('static', filename='img/kon2.jpg') }} alt="fig3">

{% endblock %}