{% extends 'base.html' %}

{% block title %}
Последние Олимпийские игры 
{% endblock %}

{% block body %}
<p class="zag"> Зимние олимпийские игры в Китае (2022 год) </p>
<p class="text">

Зимние Олимпийские игры 2022 в Пекине стали первыми в истории Играми, полностью обеспеченными искусственным снегом. Китай принял соревнования с 4 по 20 февраля 2022 года, собрав 2 871 спортсмена из 91 страны. В программу вошли 15 видов спорта с 109 дисциплинами, включая 7 новых видов соревнований: смешанные командные состязания в биг-эйре (фристайл), смешанную эстафету в шорт-треке, женский монобоб и смешанные командные прыжки с трамплина. Особенностью этих Игр стало строгое соблюдение антиковидных мер - все участники находились в изолированном "олимпийском пузыре".
</p>

<img class="vid_img" src={{ url_for('static', filename='img/posl1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/posl2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/posl3.jpg') }} alt="hok3">

<p class="text">
Норвегия традиционно возглавила медальный зачёт с 16 золотыми и 37 медалями в общей сложности. За ней расположились Германия (12 золотых) и принимающий Китай (9 золотых). Российские спортсмены, выступавшие под флагом Олимпийского комитета России, завоевали 6 золотых, 12 серебряных и 14 бронзовых наград, заняв 9 место в общем зачёте. Наибольшего успеха они добились в фигурном катании, лыжных гонках и конькобежном спорте.
Организаторы реализовали масштабную экологическую программу: все объекты работали на возобновляемой энергии, 85% воды для искусственного снега было повторно использовано, а строительные материалы полностью переработаны. Технологические инновации включали систему "умного" льда с датчиками температуры и 5G-трансляции с обзором 360 градусов. Среди самых запоминающихся моментов - шестая олимпийская победа конькобежки Эйрин Вуст из Нидерландов и выступление 15-летней фигуристки Камилы Валиевой, омрачённое допинговым скандалом.
После Игр все спортивные объекты были преобразованы в круглогодичные центры, что стало частью наследия этих соревнований. Успех китайских спортсменов (рекордные 9 золотых медалей) свидетельствует о значительном прогрессе страны в развитии зимних видов спорта.
</p>
<img class="vid_img" src={{ url_for('static', filename='img/posl4.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/posl5.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/posl6.jpg') }} alt="hok3">

{% endblock %}