{% extends 'base.html' %}


{% block title %}Санный спорт{% endblock %}

{% block body %}
<p class="zag"> Санный спорт </p>
<p class="text">
Санный спорт — скоростной спуск по ледяному желобу на одноместных или двухместных санях. Спортсмены лежат на спине и управляют санями с помощью ног и тела.

Олимпийские дисциплины:

одиночные заезды (мужчины и женщины) и 

парные заезды (открытая категория).

Эстафета

Скорость достигает 140 км/ч, что делает санный спорт одним из самых опасных. Лидеры — Германия, Австрия и Италия.

Этот вид требует идеальной реакции и бесстрашия, а победы часто решают сотые доли секунды.


</p>

<img class="vid_img" src={{ url_for('static', filename='img/san2.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/san1.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/san3.jpg') }} alt="hok3">

{% endblock %}