{% extends 'base.html' %}


{% block title %}Шорт-трек{% endblock %}

{% block body %}
<p class="zag"> Шорт-трек </p>
<p class="text">
Шорт-трек — динамичная и опасная разновидность конькобежного спорта, где спортсмены соревнуются на короткой дорожке (111,12 м) в зале. В отличие от классического конькобежного спорта, здесь все участники стартуют одновременно, что приводит к частым контактам и падениям.

Олимпийские дисциплины включают индивидуальные гонки на 500, 1000 и 1500 метров, а также эстафеты (5000 м у мужчин и 3000 м у женщин). Тактика играет ключевую роль: спортсмены могут долго сохранять позицию в группе, чтобы перед финишем совершить решающий рывок.

Шорт-трек появился в Олимпиаде в 1992 году и быстро завоевал популярность благодаря напряженности и непредсказуемости забегов. Лидеры — Южная Корея, Китай и Канада.

Экипировка включает шлем, защитные очки и специальные перчатки, которые позволяют касаться льда на виражах без травм. Шорт-трек считается одним из самых зрелищных и адреналиновых видов зимнего спорта.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/short1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/short2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/short3.jpg') }} alt="hok3">

{% endblock %}