{% extends 'base.html' %}


{% block title %}Скелетон{% endblock %}

{% block body %}
<p class="zag"> Скелетон </p>
<p class="text">
Скелетон — экстремальный зимний вид спорта, в котором спортсмен спускается по ледяному желобу на специальных санях лицом вниз, достигая скоростей свыше 130 км/ч. В отличие от бобслея, здесь нет команды — спортсмен управляет санями в одиночку, используя для маневрирования смещение центра тяжести тела и легкие касания ботинками льда. Олимпийские соревнования включают индивидуальные заезды у мужчин и женщин. Каждый участник выполняет 4 спуска, а победитель определяется по сумме времени.

Скелетон требует не только бесстрашия, но и идеального контроля тела — малейшая ошибка в управлении может привести к потере скорости или даже к аварии. Старт имеет решающее значение: спортсмены разгоняются, толкая сани, а затем прыгают на них в движении. Современные сани изготавливаются из стали и стекловолокна, их вес строго регламентирован (до 43 кг для мужчин и 35 кг для женщин).

Этот вид спорта входил в программу еще в 1928 году, но затем исчез и вернулся только в 2002-м. Сегодня лидерами скелетона являются Германия, Великобритания и Россия. Из-за высоких скоростей и минимальной защиты скелетон считается одним из самых опасных зимних видов спорта.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/skel1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/skel2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/skel3.jpg') }} alt="hok3">

{% endblock %}