{% extends 'base.html' %}


{% block title %}Лыжные гонки{% endblock %}

{% block body %}
<p class="zag"> Лыжные гонки </p>
<p class="text">
Лыжные гонки — один из самых массовых и доступных зимних видов спорта, входящий в программу Олимпиад с 1924 года. Соревнования проходят в классическом и свободном (коньковом) стиле на дистанциях от 10 до 50 км.
Основные дисциплины:

спринт (короткая дистанция с квалификацией и финалом),

гонка с раздельным стартом,

масс-старт (все участники начинают одновременно),

эстафета (командные соревнования),

скиатлон (комбинация двух стилей).

Лыжники используют специальные мази для лучшего скольжения и держания в зависимости от погоды. Техника бега требует выносливости, силы и умения распределять энергию.

Традиционно сильны Норвегия, Швеция и Россия. Этот вид спорта популярен в странах с развитой лыжной культурой и доступен любителям всех возрастов. 
</p>

<img class="vid_img" src={{ url_for('static', filename='img/skys1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/skys2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/skys3.jpg') }} alt="hok3">

{% endblock %}