{% extends 'base.html' %}


{% block title %}Лыжное двоеборье{% endblock %}

{% block body %}
<p class="zag"> Лыжное двоеборье </p>
<p class="text">
Лыжное двоеборье - уникальный зимний вид спорта, сочетающий прыжки с трамплина и лыжные гонки. Этот вид входит в программу Олимпийских игр с самого начала - с 1924 года. Соревнования проводятся в трех основных дисциплинах: индивидуальные (прыжок + гонка 10 км), командные (эстафета 4×5 км) и с 2022 года - смешанные командные соревнования.

Особенность двоеборья - использование системы Гундерсена, когда результаты прыжков переводятся в секунды отставания на старте лыжной гонки. Это делает соревнования особенно зрелищными, так как победитель определяется на финише. Спортсмены используют специальные лыжи для прыжков (длиннее и шире обычных) и отдельные - для гонки.

Технически это один из самых сложных видов спорта, требующий от атлетов совершенно разных навыков: взрывной силы и координации для прыжков, а также выносливости для лыжной гонки. Традиционно сильнейшими в лыжном двоеборье являются спортсмены из Норвегии, Германии и Австрии. Российские двоеборцы также регулярно попадают в число призеров крупных соревнований.    
</p>

<img class="vid_img" src={{ url_for('static', filename='img/sky22.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/sky21.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/sky23.jpg') }} alt="hok3">

{% endblock %}