{% extends 'base.html' %}


{% block title %}Сноуборд{% endblock %}

{% block body %}
<p class="zag"> Сноуборд </p>
<p class="text">
Сноуборд включает несколько дисциплин:

слоупстайл (трюки на склоне),

хафпайп (выступления в ледяной трубе),

биг-эйр (прыжки с трамплина),

сноуборд-кросс (гонка с препятствиями).

Параллельный гигантский слалом

Спортсмены выполняют вращения, сальто и граунд-трюки, которые оцениваются за технику и амплитуду. Лидеры — США, Канада и Швейцария.

Сноуборд — молодежный, динамичный и зрелищный вид спорта, популярный в экстремальной среде.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/snoub1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/snoub2.jpeg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/snoub3.jpg') }} alt="hok3">

{% endblock %}