{% extends 'base.html' %}


{% block title %}Прыжки с трамплина{% endblock %}

{% block body %}
<p class="zag"> Прыжки с трамплина </p>
<p class="text">
Прыжки с трамплина — один из самых зрелищных и технически сложных зимних видов. Спортсмены разгоняются на лыжах по крутому спуску и совершают прыжок, стараясь пролететь как можно дальше при идеальном приземлении.

Судьи оценивают длину прыжка и технику (полет, приземление и устойчивость). В программе Олимпиады:

личные соревнования (средний и большой трамплин),

командные соревнования (мужчины),

смешанные командные соревнования.

Прыгуны используют широкие лыжи (до 145% роста спортсмена) для лучшей аэродинамики. Лидеры — Германия, Австрия и Норвегия.

Этот вид требует бесстрашия, координации и идеального контроля тела в полете.
</p>

<img class="vid_img" src={{ url_for('static', filename='img/tramp1.jpg') }} alt="hok2">
<img class="vid_img" src={{ url_for('static', filename='img/tramp2.jpg') }} alt="hok1">
<img class="vid_img" src={{ url_for('static', filename='img/tramp3.jpg') }} alt="hok3">

{% endblock %}